appcompat_v7/bin/android-support-v7-appcompat.jar
appcompat_v7/bin/AndroidManifest.xml
appcompat_v7/bin/R.txt
facebook/bin/AndroidManifest.xml
facebook/bin/facebooksdk.jar
facebook/bin/R.txt
library/bin/AndroidManifest.xml
library/bin/library.jar
library/bin/R.txt
gradle.properties

